*
!/**/
!*.*
# SDCC stuff
*.lnk
*.lst
*.map
*.mem
*.rel
*.rst
*.sym
*.o
*.o.d
cscope.*
/GPATH
/GRTAGS
/GTAGS
# Library archives
*.a
# Emacs backup
*~
# Statistics from builds
size.report
# Build system output
.obj
*.elf
bin
*.debug
*.#
*.%
*.@
*.^
*.s
*.img
fshbuild_*
Library/libs/*.asm
*.bin
*.ihx
*.lib
*.symtmp*
Applications/ue/ue.ansi
Applications/ue/ue.fuzix
Applications/games/fortune.dat
Applications/games/sok.levels
Kernel/font/font8x8_exp2.c
Kernel/platform/platform-rcbus-z180/boot-romwbw.tmp
Kernel/platform/platform-rcbus-z180/fuzix.romwbw
Kernel/platform/platform-zrc/fuzix.tmpmap
Kernel/platform-rcbus-z180/boot-romwbw.tmp
Kernel/platform-rcbus-z180/fuzix.romwbw
